/models
/logs
/models_hades
/src/*.pyc

logs/info.log

models_hades/DCGAN.11.Discriminator.npz

models.DCGAN.10.Discriminator.npz

models.DCGAN.20.Discriminator.npz

src/model.pyc

models.DCGAN.20.Generator.npz

src/predict.pyc

models.DCGAN.10.Generator.npz

models_hades/DCGAN.11.Generator.npz
